
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Metal Mania', cursive;
}


h1,h2,h3{
  font-weight: bold;
  color: #081F32;
}

.fo footer{
  position: absolute;
  bottom: 0;
}